## Overview of the Data Frame

In [1]:
import pandas
data = pandas.read_csv("reviews.csv", parse_dates = ['Timestamp']) #telling the dataframe to treat the date as date(int) format and not string 
from datetime import datetime
from pytz import utc

In [2]:
data.head()

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN

In [3]:
data.shape

(45000, 4)

In [4]:
data.columns

Index(['Course Name', 'Timestamp', 'Rating', 'Comment'], dtype='object')

In [5]:
data.hist('Rating')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [ ]:
data

## Selecting a column

##selecting a column

In [ ]:
data['Rating'].mean()

## Selecting multiple columns

In [ ]:
data[['Course Name', 'Rating']]

## Selecting rows

In [ ]:
data.iloc[3]

##selecting multiple rows

In [ ]:
data.iloc[1:3]

### Selecting a Section

In [ ]:
data[['Course Name','Rating']].iloc[1:3]

In [ ]:
data['Timestamp'].iloc[3]

In [ ]:
data['Timestamp']

In [ ]:
data['Timestamp'].iloc[0]

### One-condition

In [ ]:
data[data['Rating'] > 4]  # Data where the ratings are greater than 4

In [ ]:
data[data['Rating'] > 4].count()

In [ ]:
data[data['Rating'] > 4]

In [ ]:
data[data['Rating'] > 4]['Rating']

In [ ]:
d2 = data[data['Rating'] > 4]
print(d2)

### Multiple conditions

In [ ]:
data[(data['Rating'] > 4 ) & (data['Course Name'] == 'The Complete Python Course: Build 10 Professional OOP Apps')]

### Time based filtering

In [ ]:
data[(data['Timestamp'] > datetime(2020,7,1)) & ( data['Timestamp'] < datetime(2020,12,31))]  # here date time is being treated as a string

In [ ]:
data[(data['Timestamp'] > datetime(2020,7,1)) & ( data['Timestamp'] < datetime(2020,12,31))]

In [ ]:
data['Timestamp']

In [ ]:
data[(data['Timestamp'] > datetime(2020,7,1,tzinfo = utc)) & ( data['Timestamp'] < datetime(2020,12,31,tzinfo = utc))]  # here date time is being treated as a string

### From data to Information

### Average rating

In [ ]:
data

In [ ]:
data['Rating'].mean()

### Average rating for a particular course

In [ ]:
data[(data['Course Name'] == 'The Python Mega Course: Build 10 Real World Applications')]['Rating'].mean()

In [ ]:
data['Course Name'][0]

### Average rating for a particular period

In [ ]:
data[(data['Timestamp'] > datetime(2020,1,1,tzinfo = utc)) & (data['Timestamp'] < datetime(2020,12,31,tzinfo = utc))]['Rating'].mean()

### Average rating for a particular period for a particular course

In [ ]:
data[(data['Timestamp'] > datetime(2020,1,1,tzinfo = utc)) & (data['Timestamp'] < datetime(2020,12,31,tzinfo = utc)) & (data['Course Name'] == 'The Python Mega Course: Build 10 Real World Applications')]['Rating'].mean()

### Average of uncommented ratings

In [ ]:
data[(data['Comment'].isnull())]['Rating'].mean()

### Average of commented ratings

In [ ]:
data[(data['Comment'].notnull())]['Rating'].mean()

### Number of uncommented ratings

In [ ]:
data[(data['Comment'].isnull())]['Rating'].count()

### Number of comment containing a certain word

In [ ]:
data[(data['Comment'].str.contains('accent', na = False) )]['Rating'].count()

### Average of the commented ratings with